<div class="container">
  <div class="panel panel-info">
        <div class="panel-heading"><%= @todolist.title %>
          <%= link_to 'Edit', edit_todo_list_path %> |
          <%= link_to 'Remove', todo_list_path(@todolist), data: {:confirm => "Are you sure?"}, :method => :delete %> |
          <%= link_to 'New', new_todo_list_path %> |
          <%= link_to 'All', todo_lists_path %>

        </div>


        <div class="panel-body">
          <%= @todolist.description %>

          <ul>
          <% @todoitems.each do |todo| %>

          <li><%= todo.item %>



          |  <%= link_to 'Remove', todo_list_todo_item_path(@todolist, todo.id ), data: {:confirm => "Are you sure?"}, :method => :delete %></li>
          <% end %>
          <ul>

            




        </div>
  </div>
  <div>
    <%= form_for ([@todolist, @todoitem]) do |form| %>
    <%= form.label :photos %>
    <%= form.file_field :photos, multiple: true %>
    <%= form.text_field :item %>
    <%= form.submit %>
    <% end %>
  </div>

</div>
